html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  padding-bottom: 2rem;
}

.Element {
  padding: 2rem;
  margin: auto;
}

.Element1 {
  margin-right: 55rem;
}

.containerHomePage {
  text-align: center;
  margin: auto;
  padding: auto;
}

.containerCategory {
  display: flex;
}
.elementCategory {
  border: solid;
  margin: auto;
  padding: 3rem;
  text-align: center;
}

table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

.ContainerTuto {
  text-align: center;
}

.ContainerTutoDescription {
  padding-top: 2rem;
}

.ContainerTutoVideo {
  display: flex;
  padding-top: 4rem;
  justify-content: center;
}

.ContainerTutoButton {
  padding-top: 4rem;
}
.containerList {
  display: flex;
  justify-content: center;
}
.containerListElement {
  border: solid;
  margin: auto;
}

.containerListImage {
  margin: auto;
  text-align: center;
}
.slot {
  border: solid;
  margin-bottom: 4rem;
}
