@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
  justify-content: center;
}

.Element {
  padding: 2rem;
}

.containerHomePage {
  text-align: center;
  margin: auto;
  padding: 0 15vw;
}

table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

/* .containerListImage {
  margin: auto;
  text-align: center;
} */
.slot {
  border: solid;
  margin-bottom: 4rem;
}

/* CSS page contact */
.containerContact {
  text-align: center;
}

.container .Element p {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.underline {
  display: block;
  width: 30%;
  height: 2px;
  background-color: #0c6838;
  margin: auto;
}

/* CSS page Category Tuto & Category Class */
.underline {
  display: block;
  width: 50%;
  height: 2px;
  background-color: #0c6838;
  margin: 1rem auto;
}

.containerElementCategory {
  padding: 4rem 15vw;
}

.containerCategory {
  display: flex;
  flex-wrap: wrap;
}

.containerCategory > div {
  width: 40%;
  margin-top: 4rem;
}

.elementCategory {
  border: solid;
  margin: auto;
  padding: 3rem;
  text-align: center;
  transition: all 0.4s ease-out;
}

.elementCategory:hover {
  box-shadow: 0 0.7rem 1.2rem rgba(0, 0, 0, 0.95);
  border: #0c6838 solid;
  cursor: pointer;
  transition: all 0.6s ease-in;
}

@media (max-width: 850px) {
  .containerCategory > div {
    width: 70%;
  }
}

/* CSS index Home PAge */

.boutonIndex {
  border: 2px solid #0c6838;
  background-color: white;
  padding: 1rem 2rem;
  margin: 0 1rem 3rem 1rem;
  border-radius: 10px;
  color: #0c6838;
  font-size: 1rem;
}

.boutonIndex:hover {
  color: white;
  background-color: #0c6838;
  cursor: pointer;
}

/* CSS homePage */

.imageHomePage {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
  margin: 3rem auto;
}

.bandeauImageHome {
  background-color: #0c6838;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 0;
  text-align: center;
  color: white;
  cursor: pointer;
}

.imageHomePage > div {
  position: relative;
  cursor: pointer;
}

.imageHomePage > div :hover {
  background-color: #044222;
}

.containerHomePage > p {
  margin: 2rem 0;
  text-align: center;
}

@media (max-width: 850px) {
  .imageHomePage {
    flex-direction: column;
    justify-content: center;
  }
  .imageHomePage > div {
    width: fit-content;
    margin: 1rem auto;
  }
}

/* CSS page online Category */

.containerList {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.containerListImage {
  text-align: center;
}

.containerListElement {
  padding: 2rem;
  max-width: 25rem;
}

.containerListElement img {
  transition: box-shadow 0.6s ease-out;
}
.containerListElement img:hover {
  box-shadow: 0 0.7rem 1.2rem rgba(0, 0, 0, 0.95);
  transition: box-shadow 0.5s ease-in;
  cursor: pointer;
}

.bouton {
  margin: 5rem;
  display: flex;
  justify-content: center;
}
.bouton .boutonIndex {
  border: 2px solid #0c6838;
  background-color: white;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  color: #0c6838;
}

.bouton .boutonIndex:hover {
  color: white;
  background-color: #0c6838;
  cursor: pointer;
}

/* CSS pour form  */

.formForForm {
  text-align: center;
  margin: 4rem 0 2rem 0;
}

.buttonSubmitForm {
  display: block;
  margin: auto;
  text-align: center;
  border: 2px solid #0c6838;
  background-color: white;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  color: #0c6838;
  width: 30%;
}

.buttonSubmitForm:hover {
  color: white;
  background-color: #0c6838;
  cursor: pointer;
}

.formForForm > div {
  margin: 1rem 0;
}

.formForForm > div > input {
  padding: 0.5rem;
  width: 30%;
  border-radius: 5px;
  border: black solid 1px;
}

@media (max-width: 850px) {
  .buttonSubmitForm {
    width: 60%;
  }
  .formForForm > div > input {
    width: 60%;
  }
}

/* Panier */

.buttonGrp {
  display: flex;
  justify-content: center;
}

.buttonCart:first-child {
  background-color: #0c6838;
  color: white;
}

.buttonCart:first-child:hover {
  background-color: #044222;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.buttonCart {
  text-align: center;
  width: fit-content;
  margin: 2rem 1rem 5rem 1rem;
  padding: 1rem;
  border: #0c6838 solid 2px;
  border-radius: 5px;
  transition: background-color 0.4s ease-out;
}

.buttonCart:hover {
  background-color: rgb(232, 232, 232);
  cursor: pointer;
  border: #044222 solid 2px;
  transition: all 0.3s ease-in;
}

.buttonCartEmpty {
  text-align: center;
  width: fit-content;
  margin: 2rem auto 5rem auto;
  padding: 1rem;
  border: #0c6838 solid 2px;
  border-radius: 5px;
  transition: background-color 0.4s ease-out;
}

.buttonCartEmpty:hover {
  background-color: #0c6838;
  color: white;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.emptyCartP {
  text-align: center;
  margin-top: 3rem;
}

.cartContainer {
  display: flex;
  width: 70vw;
  margin: 2rem auto;
  align-items: center;
  border: #0c6838 solid 1px;
  padding: 1rem;
  border-radius: 5px;
}

.cartContainer > .pCart {
  margin-left: 2rem;
}

.cartContainer > .pCart > h3,
.cartContainer > .pCart > h4 {
  margin: 0;
}

.cartContainer > .pCart > p {
  text-align: justify;
}

.cartContainer .imgCart {
  width: 30%;
}

.cartContainer .imgCart > img {
  width: 100%;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price > span {
  display: block;
  width: 20%;
  height: 2px;
  background-color: #0c6838;
  margin: 0 1rem;
}

.totalPrice {
  text-align: center;
}

@media (max-width: 850px) {
  .cartContainer {
    flex-direction: column;
    text-align: center;
  }
  .cartContainer .imgCart {
    width: 60%;
    margin: 1rem 0;
  }
  .cartContainer > .pCart > h3 {
    margin-bottom: 0.5rem;
  }
  .cartContainer > .pCart > .priceCart {
    text-align: center;
  }
}

/* CSS PAGE TUTO */

.ContainerTuto {
  text-align: center;
}

.ContainerTutoDescription {
  padding-top: 4rem;
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 55rem;
  text-align: center;
}

.ContainerTutoVideo {
  display: flex;
  padding-top: 4rem;
  justify-content: center;
}

.ContainerTutoButton {
  display: flex;
  justify-content: space-around;
}

.boutonTuto {
  margin: 3rem;
  display: flex;
  justify-content: space-around;
}

.boutonTuto .boutonTuto {
  border: 2px solid #0c6838;
  background-color: white;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  color: #0c6838;
}

.boutonTuto .boutonTuto:hover {
  color: white;
  background-color: #0c6838;
  cursor: pointer;
}

@media (max-width: 850px) {
  .ContainerTutoVideo {
    padding: 5rem;
  }

  .boutonTuto {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .ContainerTutoDescription {
    padding: 0 5rem;
    text-align: justify;
  }
}

/* CSS PAGE COURS SLOT */

.pageCours {
  width: 70vw;
  padding: 5rem 0;
  margin: auto;
}

.ContainerCours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ContainerCoursImageDescription {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  padding: 0 2rem;
}

.image {
  display: flex;
  justify-content: center;
}

.ContainerCoursDescription {
  max-width: 60rem;
  padding: 2rem;
  text-align: justify;
  justify-content: center;
}

.ContainerCoursSlot {
  border: 2px solid #0c6838;
  border-radius: 10px;
  max-width: 40rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.85);
  transition: box-shadow 0.6s ease-out;
  padding: 1rem;
}

.ContainerCoursSlot:hover {
  transition: box-shadow 0.5s ease-in;
  box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.95);
}

.slot {
  border: 2px solid #0c6838;
  padding: 1rem;
  margin: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.slot > div {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  text-align: left;
}

.slot label,
.slot input {
  cursor: pointer;
}

.boutonSlot {
  margin: auto;
  text-align: center;
  border: 2px solid black;
  background-color: white;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  color: black;
}

.boutonSlot:hover {
  cursor: pointer;
  background-color: #0c6838;
  color: white;
  border: 2px solid #0c6838;
}

.ContainerTutoButton {
  padding-top: 3rem;
}

@media (max-width: 850px) {
  .ContainerCours {
    display: flex;
    flex-direction: column;
  }
  .ContainerCoursSlot {
    margin-top: 2rem;
  }
}

/* CSS page CreateClass */

.selectionCours {
  width: 30vw;
  border: none;
}

.divForSelection {
  width: fit-content;
  margin: auto;
  padding: 1rem 3rem;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 5px;
  border: black solid 1px;
}

.mainForCreateClass {
  padding: 3rem 0;
}

.pasValide {
  border-color: grey;
  color: grey;
}

.pasValide:hover {
  background-color: white;
  color: grey;
  cursor: not-allowed;
}

@media (max-width: 850px) {
  .selectionCours {
    width: 60vw;
  }
  .divForSelection {
    padding: 1rem;
  }
}

/* CSS Panier code promo  */

.inputCodePromo {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  width: 15rem;
  text-align: center;
}

/* CSS PAGE PROFIL */

.containerProfil {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 50rem;
}
.infoProfil {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-bottom: 3rem;
  padding-left: 3rem;
}

.infoUser {
  border: 2px solid #0c6838;
  border-radius: 10px;

  padding: 4rem;
  margin: 4rem;
  max-height: 30rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.85);
}
.giveClasse {
  border: 2px solid #044222;
  border-radius: 10px;
  text-align: center;
  width: 40rem;
  margin-bottom: 3rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.85);
}

.Courspris {
  border: 2px solid #044222;
  width: 40rem;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.85);
}

.slotProfile {
  border: 2px solid #044222;
  border-radius: 10px;
  width: 30rem;
  text-align: center;
  margin: 1rem;
}

.butonCreateClass {
  border: 2px solid #0c6838;
  background-color: white;
  padding: 0.5rem 2rem;

  border-radius: 10px;
  color: #0c6838;
}

.butonCreateClass:hover {
  background-color: #0c6838;
  color: white;
  cursor: pointer;
  border: #044222 solid 2px;
  transition: all 0.3s ease-in;
}
@media (max-width: 850px) {
  .giveClasse {
    border: 2px solid #044222;
    border-radius: 10px;
    text-align: center;
    width: 25rem;
    margin-bottom: 3rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.85);
  }

  .Courspris {
    border: 2px solid #044222;
    width: 25rem;
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.85);
  }
  .slotProfile {
    border: 2px solid #044222;
    border-radius: 10px;
    width: 20rem;
    text-align: center;
    justify-content: center;
    margin: 0.5rem;
  }
}
/* PAGE PROFIL CLIENT */
.CoursprisClient {
  border: 2px solid #044222;
  border-radius: 10px;
  text-align: center;

  padding: 2rem;
  width: 40rem;
  max-height: 50rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.85);
}

.devenirProf {
  margin-top: 3rem;
  margin-bottom: 3rem;

  border: 2px solid #044222;
  border-radius: 10px;
  text-align: center;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.85);
}

.cours {
  border: 2px solid #044222;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 850px) {
  .infoProfil {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 5rem;
  }

  .devenirProf {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 25rem;
    border: 2px solid #044222;
    border-radius: 10px;
    text-align: center;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.85);
  }
  .CoursprisClient {
    border: 2px solid #044222;
    border-radius: 10px;
    text-align: center;

    width: 25rem;
    max-height: 50rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.85);
  }
}

/* CSS PAGE PROFIL ADMIN */
.demandeProf {
  margin-top: 3rem;
  width: 50rem;

  border: 2px solid #044222;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.85);
}

.butonRendreProf {
  border: 2px solid #0c6838;
  background-color: white;
  padding: 0.5rem 2rem;

  border-radius: 10px;
  color: #0c6838;
}

.butonRendreProf:hover {
  background-color: #0c6838;
  color: white;
  cursor: pointer;
  border: #044222 solid 2px;
  transition: all 0.3s ease-in;
}

.demande {
  border: 2px solid #044222;
  border-radius: 10px;
  text-align: center;
  margin: 2rem;
}
@media (max-width: 850px) {
  .infoProfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
    padding-left: 3rem;
  }
  .demandeProf {
    margin-top: 3rem;
    width: 30rem;

    border: 2px solid #044222;
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.85);
  }
}
